#container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nameField {
  font-size: 45px;
  width: 400px;
}

#servicesField {
  font-size: 45px;
  width: 400px;
}

#checkBtn {
  position: fixed;
  font-size: 45px;
  width: 250px;
  height: 100px;
  background-color: rgb(0, 221, 0);
}

p {
  font-size: 45px;
}

body {
  background-color: pink;
}